<mat-grid-list cols="5" rowHeight="2:3" gutterSize="30px">

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245908.svg?token=exp=1616438030~hmac=4125a9a1afdc3dc61361ca6bd2aa8dd3"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste id repellendus blanditiis autem quaerat alias
          vitae similique. Nisi libero rerum necessitatibus quis tempore odio molestiae error porro voluptatibus,
          reiciendis molestias.
        </p>
      </mat-card-content>

    </mat-card>


  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245911.svg?token=exp=1616438030~hmac=e2f29de64bc8d319b9b94a454ec6c2d6"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil a delectus ratione pariatur, omnis, impedit
          animi repellendus dignissimos quod explicabo optio facilis, voluptatibus non hic adipisci aliquam unde vitae.
          Incidunt?
        </p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245927.svg?token=exp=1616438030~hmac=9e0a770ec0cb773c4347d17ec44ac168"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque voluptas et nam corrupti veniam esse harum ut
          adipisci dolorem quibusdam, dignissimos at maxime soluta facere, autem ea voluptatibus, praesentium minima.
        </p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245915.svg?token=exp=1616438030~hmac=2d8879c23186cbe654fc24fa6251f4b4"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis, reprehenderit odit consequatur iste
          magni sunt mollitia? Obcaecati maiores, maxime distinctio aliquid asperiores deserunt, non sunt aut facilis
          tempora adipisci!
        </p>
      </mat-card-content>

    </mat-card>


  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245937.svg?token=exp=1616438030~hmac=fdc58602d56ec6d56356b653db5f4a46"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni consequatur velit vel doloremque porro
          accusamus ut in nesciunt atque quae ducimus saepe cumque, repellendus, nihil laudantium iusto commodi eius
          eveniet!
        </p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <img mat-card-image
        src="https://www.flaticon.com/svg/vstatic/svg/245/245930.svg?token=exp=1616438030~hmac=f7f2a72f2ec71d970b6b53bdcda4ae2f"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi expedita explicabo laboriosam.
          Vitae voluptates, perspiciatis, error at veniam hic nisi similique nihil ex odio aliquid dignissimos dolor
          debitis numquam!
        </p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>


</mat-grid-list>