<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>


    <div class="text">

      <h2>moneyApp</h2>

      <p>Rua Exemplo, 123</p>
      <p> São Paulo, SP 01415-000</p>
      <p>(555) 555-5555</p>
      <p> email@exemplo.com</p>

    </div>

  </mat-grid-tile>

  <mat-grid-tile class="img">



    <div class="text">
      <h1>Vamos conversar</h1>

      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Sobrenome</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <textarea matInput placeholder="Ex. Ibura, 136"></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput placeholder="Ex. Recife">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input matInput placeholder="Ex. Pernambuco">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input matInput #postalCode maxlength="8" placeholder="Ex. 000.00-000" value="00000000">
                <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>




    </div>

  </mat-grid-tile>


</mat-grid-list>